<table>
  <tr *ngFor="let libro of listaLibros">
    <td>{{ libro.isbn }}</td>
    <td>{{ libro.titulo }}</td>
    <td>{{ libro.autor }}</td>
    <td>{{ libro.importe }}</td>
    <td><input type="button" value="borrar" (click)="borrar(libro)" /></td>
    <td><input type="button" value="detalle" (click)="detalle(libro)" /></td>
    <td><input type="button" value="editar" (click)="editar(libro)" /></td>
  </tr>
</table>
<form>
  <p>isbn<input type="text" name="isbn" [(ngModel)]="nuevo.isbn" /></p>
  <p>titulo<input type="text" name="titulo" [(ngModel)]="nuevo.titulo" /></p>
  <p>autor<input type="text" name="autor" [(ngModel)]="nuevo.autor" /></p>
  <p>importe<input type="text" name="importe" [(ngModel)]="nuevo.importe" /></p>
  <p>
    <input type="button" value="aceptar" (click)="insertar(nuevo)"/>
  </p>
</form>
<div>
  {{seleccionado.isbn}}
  {{seleccionado.titulo}}
  {{seleccionado.autor}}
  {{seleccionado.importe}}

</div>

<form>
  <p>isbn<input type="text" name="isbn" [(ngModel)]="editable.isbn" /></p>
  <p>titulo<input type="text" name="titulo" [(ngModel)]="editable.titulo" /></p>
  <p>autor<input type="text" name="autor" [(ngModel)]="editable.autor" /></p>
  <p>importe<input type="text" name="importe" [(ngModel)]="editable.importe" /></p>
  <p>
    <input type="button" value="aceptar" (click)="salvar()"/>
  </p>
</form>

